* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 2em auto;
}

h1 {
	font-size: 4rem;
}

img {
	display: block;
	width: 3em;
	height: auto;
}

th {
	text-align: left;
}

button {
	margin-right: 1em;
}

button:last-child {
	margin-right: 0;
}
